.card {
    border: 1px solid #ccc;
    border-radius: 4px;
    max-width: 192px;
    width: 192px !important;
    min-width: 192px !important;
    margin:24px !important;
    transition:transform 0.3s linear;
    padding: 16px;
    background-color: white;
}

.card h6 {
    margin-top:16px;
    text-align: center;
    font-size:1rem;
}

.card img {
    width: 100%;
    height: auto;
}

.card .card-body {
    padding: 12px !important;
}

.card:hover {
    box-shadow: 0px 2px 4px #999,
                0px 4px 16px #ddd;
    transform:scale(1.125)
}


.cardDeck {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 960px;
    margin: 0px auto;
}

.listContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.sidebar {
    min-width: 300px;
    width: 25%;
    flex: 0;
    padding: 8px;
}

.articleLi {
    list-style-type: none;
    padding: 8px;
    margin-bottom: 4px;
    margin-right:16px;
    transition: transform 0.3s ease-in;
    background-color: white;
}

.articleLi:hover {
    box-shadow:  0px 2px 4px #999,
                 0px 4px 12px #ddd;
    transform: scale(1.125);
    border-left: 3px solid #23374d;
}

.liFocused {
    border-left: 3px solid #23374d;
}

.articleContent {
    flex: 1;
    padding: 16px;
    max-height: 100%;
    overflow-y: auto;
}

.articleContent p, .articleContent ol, .articleContent ul{
    max-width: 960px;
    margin: 1.25rem auto;
}

.articleContent li p{
    display: inline;
}


.articleImg {
    height: 40vh;
    width: auto;
    margin: 0px auto;
    display: block;
}

.articleContentImg {
    height: 25vh;
    width: auto;
    margin: 2rem auto;
    display: block;
}

img.blankArticle {
    height: 50vh;
    width: auto;
    display: block;
    margin: 2rem auto;
    opacity: 0.7
}

h2.blankArticle {
    text-align: center;
}

.articleListHeading {
    display: flex;
    flex-direction:row;
}

.articleListHeading h1 {
    flex: 1;
    margin: 0px;
}

.articleListHeading button {
    height: 100% !important;
    width: 40px;
    margin-right: 40px;
    flex: 0;
    border: 0px;
}


.supportHero {
    margin: 2rem auto;
    width: 80vw;
    text-align: center;
    padding: 2rem 4rem;
    background-color:white;
    box-shadow:  0px 2px 4px #999,
                 0px 4px 12px #ddd;
}

.article {
    background-color:white;
    font-size: 1.25rem;
    padding:16px;
    border-radius: 8px;
    min-height:100vh;
}

@media(max-width: 575px){
    .article img {
        width: 100%;
        height: auto;
    }
}